.container {
    display: grid;
    /* grid-template: rows / columns */
    /*grid-template: repeat(5, 1fr) / 1fr 1fr 1fr;*/
    /*grid-template: 1fr 1fr 1fr 1fr 1fr / auto auto auto;*/
    grid-template: repeat(5, 1fr) / auto auto auto;
    grid-gap: 20px;
}

.item {
    border: 1px solid yellowgreen;
}